.BreadCrumb {
    margin: 0;
    width: 500px !important;
}

.tableCart {
    font-size: .8rem !important;
    line-height: 21px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 !important;
    color: #212529;

}

.tableCart th {
    padding: .9rem;
    font-weight: 400;
    font-size: .98rem;
    color: #999;
    text-align: center;
}

.tableCart tbody {
    font-size: .8rem;
    line-height: 21px;
    color: #212529;
    font-weight: 400;
    padding: 0;
}

.tableCart tbody td {
    padding: 0 .9rem;
    text-align: center;
    vertical-align: middle;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    transition: box-shadow .35s ease, -webkit-box-shadow .35s ease;
}

.productName {
    font-size: 1.1rem;
    font-weight: 600 !important;
    color: white;
    text-align: center;
    letter-spacing: .15rem;
    margin-bottom: .5rem;
    padding: 0;
    text-shadow:
        -1px 0px 0px var(--primary-color),
        1px 0px 0px var(--primary-color),
        0px -1px 0px var(--primary-color),
        0px 1px 0px var(--primary-color);
}

.productMedia {
    padding: 5px;
}

.productImg img {
    width: 100%;
    max-width: 100px;
    max-height: auto;
    border-radius: 5%;
}

.priceCol {
    color: white !important;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow:
        -1px 0px 0px var(--primary-color),
        1px 0px 0px var(--primary-color),
        0px -1px 0px var(--primary-color),
        0px 1px 0px var(--primary-color);
}

.totalCol {
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-color) !important;
}
.quantityCol{
    width: 1rem;
}

.summaryContainer {
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 10 !important;
    max-height: 700px;
    min-height: 650px;
}

.summaryContainer:hover {
    transform: rotateX(-45deg) translateZ(45);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.summaryTitle {
    font-size: 1.5rem;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.summaryTable {
    width: 100%;
    margin-top: 35px;

}

.summaryTable label {
    color: #212529 !important;
}

.summaryLabel {
    font-weight: bold;
    color: #212529 !important;

}

.customRadioInput {
    margin-right: 5px;

}

.summaryTotal td {
    padding: 25px 12px;
    color: var(--primary-color);
    font-weight: 600;
}

.customRadioLabel {
    font-weight: normal;
}

.changeAddressLink {
    color: #007bff;
    text-decoration: none;
}

.summaryActions {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
}

/* Media Queries for Responsive Design (adjust as needed) */
@media (max-width: 767px) {
    .productCol {
        width: 50%;
    }
}

.emptyCart {
    padding: 20px;
    text-align: center;
}

.emptyCart h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
}

.emptyCart p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
    margin-bottom: 10px;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.emptyCart .btn:hover {
    background-color: #0056b3;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}