.breadcrumbNav {
    background-color: var(--light-color);
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 0.9rem;
    display: flex;
    margin-bottom: 0;
    padding: 0 0px 0 10px;
}

.breadcrumb li .breadcrumbItem {
    color: white;
    text-decoration: none;
    padding: 2px 0 2px 40px;
    background: var(--waterMelon-color);
    /* Changed to your custom color */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.breadcrumbItem::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--waterMelon-color);
    /* Changed to your custom color */
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
    transition: all 0.3s ease-in-out;

}

.breadcrumbItem::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;

}

.breadcrumb li:first-child .breadcrumbItem {
    padding-left: 10px;
}

.breadcrumb li:nth-child(2) .breadcrumbItem {
    background: var(--lightBlue-color);
    /* Changed to your custom color */
}

.breadcrumb li:nth-child(2) .breadcrumbItem:after {
    border-left-color: var(--lightBlue-color);
    /* Changed to your custom color */
}

.breadcrumb li:nth-child(3) .breadcrumbItem {
    background: var(--lightPurple-color);
    /* Changed to your custom color */
}

.breadcrumb li:nth-child(3) .breadcrumbItem:after {
    border-left-color: var(--lightPurple-color);
    /* Changed to your custom color */
}

.breadcrumb li .breadcrumbItem.active {
    background: transparent !important;
    color: black;
    transition: all 0.3s ease-in-out;
}

.breadcrumb li .breadcrumbItem.active:hover {
    color: var(--lightPurple-color);
}

.breadcrumb li .breadcrumbItem:hover {
    background: var(--dark-color);
}

.breadcrumb li .breadcrumbItem:hover:after {
    border-left-color: var(--dark-color) !important;
}