.cartHover {
    transition: var(--transition);
}

.cartHover:hover {
    color: var(--mustard-color);
}

.dropdown {
    max-height: 450px;
    width: 350px;
    z-index: 100;
    /* padding: 22px 30px 20px 30px; */
    overflow-anchor: none;
    -webkit-box-shadow: 5px 10px 16px rgba(51, 51, 51, .05), -5px 10px 16px rgba(51, 51, 51, .05);
    box-shadow: 5px 10px 16px rgba(51, 51, 51, .05), -5px 10px 16px rgba(51, 51, 51, .05);
    background-color: #fff;
    overflow: hidden;

}

@media (max-width: 768px) {
    .dropdown {
        position: absolute !important;
        right: 50% !important;
    }
}


.dropdownItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.6rem 2.4rem 1.6rem 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none !important;
}


.dropdownWrapper {
    max-height: 27.9rem;
    margin-top: -1rem;
    overflow-y: auto;
    scrollbar-width: none !important;
    padding: 22px 30px 20px 30px;

}

.dropdownWrapper::-webkit-scrollbar {
    display: none !important;
    scrollbar-width: none !important;
}

.productDetails {
    font-weight: 400;
    max-width: 150px;
    font-size: .8rem;
    color: #999;
    text-align: left;
}

.productTitle {
    color: var(--lightPurple-color);
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.3;
    text-align: left;
    margin-bottom: .4rem;
}

.imgContainer {
    position: relative;
    max-width: 60px;
    margin: 0 0 0 auto;
}

.imgLink {
    display: block;
    width: 100%;
    height: auto;
}

.productPrice {
    font-weight: 700 !important;
}

.imgLink img {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.removeButton {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: #ccc;
    font-size: .7rem;
}

.dropdownActions {
    position: relative;
    width: 100% !important;
    padding: 0 ;
    z-index: 2;
}

.dropdownItem:first-child {
    /* margin-top: 125px !important; */
}